<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <style>
		body{
			background-color:rgb(216, 216, 228)
		}
		html,body{
			height: 100%;
			width: 100%;
		}
		.head{
			background-color: rgb(165, 165, 180);
			position: fixed;
			top:0px;
			width: 100vw;
		}
		.card{
			display: inline-block;
			background-color: rgb(200, 201, 204);
		}
		/* .container{
			display: ;
		} */
		.pagination{
			position: center center;
		}
		.ss{
			/* position: relative;
			left:50%;
			right:50%; */
			display: flex;
			justify-content: center;
		}
		h1{
			display: inline-block;
		}
		#connect{
			display: flex;
			justify-content: end;
		}
		nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
			justify-content: center;
        }

        .i{
            margin-right: 50px;
			cursor: pointer;
        }

        nav a,input {
            color: #fff;
            text-decoration: none;
        }
		
        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
        }

    </style>
</head>
<body>
	<header>
		<center>
			<h1>Memory-kind-list</h1>
		</center>
		<nav>
			<ul >
				<li class="i" onclick="location.href='/mainsign'">Home</li>
				<li class="i"onclick="location.href='/product1'">product</li>
                <!-- <li class="i" onclick="location.href='/sign'" id="Sign">Login</li> -->
				<li class="i"><i class="fa fa-shopping-cart" style="font-size:36px" id="cart" onclick="location.href='/showcart'"></i></li>
             
			</ul>
		</nav>
	</header>
	<!-- <nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="products.html">product</a></li>
			<li class="log"><a href="login.html" > Login</a></li>
		</ul>
	</nav> -->
	
	

	<br>
	
	
	<img  id="picture"src="" alt="picture">
	<center>
		<nav aria-label="Page navigation example" class="ss">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="./product1">屬性</a></li>
				<li class="page-item"><a class="page-link" href="./product2">時間</a></li>
			</ul>
		</nav>
	</center>
	<center>

 
        <br><br>
        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div> -->
        <div class="card" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">邏輯</h5>
              <p class="card-text">可以獲得增加思考方式，多維思考的記憶</p>
			  <span>價格:999</span>
			  <input type='button' class="btn btn-primary" onclick="on('logic')" name="subject" value="buy">
			  <!-- <a href="" class="btn btn-primary">Buy</a> -->
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">歷史</h5>
              <p class="card-text">了解過去所有的世界歷史，並可以延伸應用到現代</p>
			  <span>價格:999</span>
			  <input type='button' class="btn btn-primary" onclick="on('history')" name="subject" value="buy">
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">數學</h5>
              <p class="card-text">可以快速學習數算運算能力，了解到各項有關數學的原理</p>
			  <span>價格:999</span>
			  <input type='button' class="btn btn-primary" onclick="on('math')" name="subject" value="buy">
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">物理</h5>
              <p class="card-text">獲得有關物理方面的記憶，可以以科學角度看待事情</p>
			  <span>價格:999</span>
			  <input type='button' class="btn btn-primary" onclick="on('physical')" name="subject" value="buy">
            </div>
        </div>
		<div >
			<div class="card" style="width: 18rem;">
				<!-- <img src="..." class="card-img-top" alt="..."> -->
				<div class="card-body">
				  <h5 class="card-title">化學</h5>
				  <p class="card-text">獲得有關化學的所有知識，各種材料知道如何使用</p>
				  <span>價格:999</span>
				  <input type='button' class="btn btn-primary" onclick="on('chemical')" name="subject" value="buy">
				</div>
			</div>
			<div class="card" style="width: 18rem;">
				<!-- <img src="..." class="card-img-top" alt="..."> -->
				<div class="card-body">
				  <h5 class="card-title">生物</h5>
				  <p class="card-text">了解所有生物體構造，並知道生物體的特徵</p>
				  <span>價格:999</span>
				  <input type='button' class="btn btn-primary" onclick="on('biograpy')" name="subject" value="buy">
				</div>
			</div>
			<div class="card" style="width: 18rem;">
				<!-- <img src="..." class="card-img-top" alt="..."> -->
				<div class="card-body">
				  <h5 class="card-title">語言</h5>
				  <p class="card-text">了解到世界上所有語言，並且可以流利說出</p>
				  <span>價格:999</span>
				  <input type='button' class="btn btn-primary" onclick="on('language')" name="subject" value="buy">
				</div>
			</div>
			<div class="card" style="width: 18rem;">
				<!-- <img src="..." class="card-img-top" alt="..."> -->
				<div class="card-body">
				  <h5 class="card-title">程式 </h5>
				  <p class="card-text">可以獲得程式邏輯，並且對所有程式語言精通</p>
				  <span>價格:999</span>
				  <input type='button' class="btn btn-primary" onclick="on('code')" name="subject" value="buy">
				</div>
			</div>
		</div>
		<div>
			<div class="card" style="width: 18rem;">
				<!-- <img src="..." class="card-img-top" alt="..."> -->
				<div class="card-body">
				  <h5 class="card-title">愛情</h5>
				  <p class="card-text">了解到愛的本質，及如利用愛來獲得自己想要的事物</p>
				  <span>價格:999</span>
				  <input type='button' class="btn btn-primary" onclick="on('love')" name="subject" value="buy">
				</div>
			</div>
			<div class="card" style="width: 18rem;">
				<!-- <img src="..." class="card-img-top" alt="..."> -->
				<div class="card-body">
				  <h5 class="card-title">親情</h5>
				  <p class="card-text">可以恢復跟家人的感情，並且知道家人在想甚麼</p>
				  <span>價格:999</span>
				  <input type='button' class="btn btn-primary" onclick="on('family')" name="subject" value="buy">

				</div>
			</div>
			<div class="card" style="width: 18rem;">
				<!-- <img src="..." class="card-img-top" alt="..."> -->
				<div class="card-body">
				  <h5 class="card-title">友情</h5>
				  <p class="card-text">獲得一位真心的朋友，可以有難同當，有福同享</p>
				  <span>價格:999</span>
				  <input type='button' class="btn btn-primary" onclick="on('frined')" name="subject" id="friend" value="buy">
				</div>
			</div>
			<div class="card" style="width: 18rem;">
				<!-- <img src="..." class="card-img-top" alt="..."> -->
				<div class="card-body">
				  <h5 class="card-title">痛苦</h5>
				  <p class="card-text">將世界所有痛苦追加在身上，讓你體會身不如死的感受</p>
				  <span>價格:1</span>
				  <input type='button' class="btn btn-primary" onclick="on('pain')" name="subject" id="pain" value="buy">
				</div>
			</div>
		</div>
    </center>
	<script>

		var Booleans=true;
		// var return_msg='{{msg}}'
		// var sign=document.getElementById('Sign')
		// if(return_msg!=""){
		// 	sign.innerHTML=return_msg ;
		// 	Booleans=false;
		// }

		function on(subject){
			let sub_list=[]
			var number=prompt("請輸入幾個")
			if (!number || isNaN(number) ||!Number.isInteger(Number(number))){
				alert("請輸入數量")
			}
			else{
				sub_list.push(subject)
				sub_list.push(number)
				sub_list=JSON.stringify(sub_list)
				fetch("/shop_action",{method:'post',body:sub_list})
				.then(Response=>Response.text())
				.then(Response=>success(Response))
			}


			// $.ajax({
			// 	url:"shop_action",
			// 	type: 'post',
			// 	data:{"pain":$("#pain").val(),"number":number}
			// });
			
		}
		function success(ok){
			alert(ok)
		}
		function judgesign(){
			if(Booleans){
				location.href='/sign';
			}
			else{
				alert("以登出")
				location.href='/logout';
				
				sing.innerHTML='login';
			
			}
		}
	</script>
</body>
</html>